@font-face {
    font-family: 'titillium_semi_bold';
    src: url('file:///android_asset/fonts/titillium_semi_bold.ttf');
}

body{
    font-family: 'titillium_semi_bold';
    font-size: 80%;
}

div {
    width: 80%;
    margin: auto;
    font-size: 120% !important;
}

table {
    font-family: 'titillium_semi_bold';
    border-collapse: collapse;
    width: 100%;
    font-size: 80%;
}

th, td {
    border: 1px solid #c6c7cc;
    padding: 5px;
}

th {
    font-weight: bold;
}

.group-header {
    background: #D3DADF;
    color: #237A98;
    font-weight: bold;
}

.odd {
    background: #F2F2F2;
}

.even {
    background: #FAFAF7;
}

tr:nth-child(odd){
  background-color: #F2F2F2;
}

tr:nth-child(even){
  background-color: #FFFFFF;
}